body .bg {
    background: url('../img/bg.png') no-repeat  center;
    background-size: cover;
}

body main .land {
    background: url('../img/footBall.png') no-repeat center;
    background-size: contain;
}
body main .land .tool {
    background: url('../img/toolpng.png') no-repeat center;
    background-size: contain;
}

body main .light {
    background: url('../img/light.png') no-repeat center;
    background-size: contain;
}


body main .shadow{
    background: url('../img/sd.png') no-repeat center;
    background-size: contain;
}



