body .bg {
    background: url('../img/bg.png') no-repeat top center;
}

body .container .land {
    background: url('../img/footBall.png') no-repeat center;
    background-size: contain;
}
body .container .land .tool {
    background: url('../img/toolpng.png') no-repeat center;
    background-size: contain;
}

body .container .light {
    background: url('../img/light.png') no-repeat center;
    background-size: contain;
}


body .container .shadow{
    background: url('../img/sd.png') no-repeat center;
    background-size: contain;
}



